body{
    background-image: url(./imagenes/fondo.jpg);
    background-position: 0,center;
    background-repeat: no-repeat,repeat;
    background-size: cover,auto;
    background-attachment:fixed,scroll ;
}


.navheader{
    margin: 10px;
    background-color: rgba(47, 0, 255, 0.521);
    text-decoration: none;
    color: rgb(216, 49, 49);
    border: 1px transparent;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

h1{
    color: black;
    text-align: center;
    
}
h2{
    text-align: center;
    
}
h3{text-align: center;
color: white;}

h4{text-align: right;
color: white;}

p{
    text-align: center;
    color: white;
    margin: auto 2% auto 2%;
}

.MyWow{
display: block;
margin-left: auto;
margin-right: auto;
}

*{
margin: 0px;
padding: 0px;
}
table, td{  
    border: 3px solid black;
    background-color: rgb(64, 78, 78);
}
table{
    margin: 50px;
    margin-left: 33%
}
#region{
    text-align: center;
}
