@font-face {
  font-family: 'Beaufort';
  src: url(../assets/webfonts/BeaufortforLOL-Regular.ttf);
  font-weight: normal;
  
}

@font-face {
  font-family: 'Beaufortb';
  src: url(../assets/webfonts/BeaufortforLOL-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Spiegelol';
  src: url(../assets/webfonts/Spiegel_TT_Regular.ttf);
}

@font-face {
  font-family: 'Spiegelolb';
  src: url(../assets/webfonts/Spiegel_TT_Bold.ttf);
  font-weight: bold;
}

#logo {
  display: block;
  height: auto;
  width: 800px;
  padding-left: 400px;
  padding-top: 20px;
}

main {
  text-align: justify;
  padding-right: 19%;
}

p {
  font-family: 'Spiegelol', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: 'Beaufortb', Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
}

* {
  text-decoration: none;
}

#icon {
  width: 85px;
  height: auto;
  position: fixed;
  left: 5px;
  border-radius: 85px;
  top: 1px;
}

body {
  background-color: #97aebe;
}

#not {
  height: auto;
  padding: 1px;
  font: bold;
  font-family: 'Spiegel', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  flex-direction: column;
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: flex-end;
  position: absolute;
  top: 20px;
  left: 82%;
  z-index: 900;
}

.caja {
  width: 300px;
  height: auto;
  margin: 2px;
  padding: 0px 15px 5px 5px;
}

.titulocaja {
  font-size: medium;
  font-weight: bold;
}

.titulocaja:hover {
  text-decoration: underline
}